[id="4008042164"]{content:"workspace/:workspaceId/analytics/layout"}
[id="1231503553"]{content:"workspace/:workspaceId/analytics/:range/layout"}
[id="21940102"]{content:"workspace/:workspaceId/analytics/:range/index"}