/* @jsxImportSource react */

import styles from "./styles.module.css";

export default function PageSample(props: {
  headline?: string;
}) {
  return (
    <div className={styles.container}>
      <div className={styles.card}>

        <h2 className={styles.title}>
          {props.headline || "404: Not Found"}
        </h2>
        <br />

        <div className={styles.stepsBox}>
          <h2 className={styles.stepsTitle}>
            Something went wrong...
          </h2>
          🚧 No page found here
        </div>

        <div className={styles.footer}>
          <p className={styles.footerText}>
            Built for reliability and developer experience
          </p>
          <br />
          <a
            href="https://kosmojs.dev/"
            className={styles.docsLink}
            target="_blank"
            rel="noopener noreferrer"
          >
            KosmoJS Documentation ➜
          </a>
        </div>
      </div>
    </div>
  );
}
