[id="355475635"]{content:"workspace/[workspaceId]/analytics/layout"}
[id="1718883975"]{content:"workspace/[workspaceId]/analytics/[range]/layout"}
[id="2103707322"]{content:"workspace/[workspaceId]/analytics/[range]/index"}