/packages/*/test/**/@fixtures/**/lib/
/packages/*/pkg/

/generators/*/test/**/@fixtures/**/lib/
/generators/*/pkg/

/docs/.vitepress/dist/
/docs/.vitepress/cache/
/docs/.vitepress/.temp/

/.tmuxinator*

# ignore var dir any level depth
var/
