[id="271088772"]{content:"admin/layout"}
[id="2384147580"]{content:"admin/:tenant/resources/layout"}
[id="83916530"]{content:"admin/:tenant/resources/{:type}/layout"}
[id="258517671"]{content:"admin/:tenant/resources/{:type}/index"}