[id="2037986674"]{content:"profile/[username]/layout"}
[id="1031748851"]{content:"profile/[username]/posts/[postId]/layout"}
[id="3986090100"]{content:"profile/[username]/posts/[postId]/comments/[...thread]/index"}