[id="271088772"]{content:"admin/layout"}
[id="1438365364"]{content:"admin/[tenant]/resources/layout"}
[id="2201661969"]{content:"admin/[tenant]/resources/[[type]]/layout"}
[id="3867057527"]{content:"admin/[tenant]/resources/[[type]]/index"}