[id="418361068"]{content:"portal/layout"}
[id="1157211954"]{content:"portal/[clientId]/layout"}
[id="2195042217"]{content:"portal/[clientId]/reports/layout"}
[id="1206424754"]{content:"portal/[clientId]/reports/[reportType]/layout"}
[id="2626629596"]{content:"portal/[clientId]/reports/[reportType]/data/[dataView]/layout"}
[id="2304786084"]{content:"portal/[clientId]/reports/[reportType]/data/[dataView]/index"}