[id="418361068"]{content:"portal/layout"}
[id="1958729075"]{content:"portal/:clientId/layout"}
[id="1681259823"]{content:"portal/:clientId/reports/layout"}
[id="219021378"]{content:"portal/:clientId/reports/:reportType/layout"}
[id="1870850140"]{content:"portal/:clientId/reports/:reportType/data/:dataView/layout"}
[id="1037498038"]{content:"portal/:clientId/reports/:reportType/data/:dataView/index"}